<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/css/basic.min.css" />
        <link rel="stylesheet" href="assets/css/ribbon.css" />
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
        />

        <style>
            body {
                background-color: #dadada;
            }
            #drophere {
                height: 100px;
                overflow: auto;
                border-style: dashed;
            }
            .navbar {
                margin-bottom: 50px;
                /* position: relative; */
            }
            .navbar span {
                position: absolute;
                right: 20px;
            }
            .navbar button {
                /* position: absolute; */
            }
            .white {
                background-color: #ffffff;
            }
            #currentData_wrapper {
                padding: 10px;
                margin-bottom: 50px;
            }
            #fileName {
                color: #007bff;
                cursor: pointer;
            }
            #currentData td span:hover {
                text-decoration: underline;
            }
            #map {
                display: block;
                width: 100%;
                /* height: 500px; */
                height: 80vh;
                border: 1px solid #6c9436;
            }
            .text-overlay {
                display: none;
                position: absolute;
                left: 50px;
                top: 50px;
                width: 4096px;
                /*height: 500px;*/
                font-size: 100px;
                font-family: sans-serif;
                color: white;
                text-shadow: 30px 30px 15px rgba(0, 0, 0, 0.5);
                border: 1px solid #f00;
            }

            .text-overlay a {
                color: #ddf;
            }
        </style>

        <title>Grid Map</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Grid Map</a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <button
                type="button"
                class="btn btn-info"
                data-toggle="modal"
                data-target="#finishModal"
            >
                Finish
            </button>
            <span id="username">username</span>
        </nav>

        <div id="map"></div>

        <div class="text-overlay">
            <h1>Hello!</h1>
            <p>
                Lorem ipsum
                <a href="https://openseadragon.github.io" target="_blank"
                    >dolor sit amet</a
                >, consectetur adipiscing elit. Mauris faucibus nec ex et
                feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et
                ultrices posuere cubilia curae; Nulla ut dignissim nisl.
            </p>
            <p>
                Nam aliquam sem ut est hendrerit, a lobortis risus maximus. Nam
                tortor magna, tristique id sem a, faucibus tincidunt sem. Nulla
                hendrerit tortor at semper convallis. Vestibulum ante ipsum
                primis in faucibus orci luctus et ultrices posuere cubilia
                curae.
            </p>
        </div>

        <!-- Modal -->
        <div
            class="modal fade"
            id="finishModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="finishModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="finishModalLabel">
                            Transaction
                        </h5>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h6>
                            <span id="packcost"></span>
                            <span id="landpack"></span> <br />

                            <span id="desc1"></span> <br />

                            <div style="border-bottom: 1px solid;">
                            <span id="vetDesc"></span> <span id="vet"></span> to <span id="address1"></span>.
                            <br />
                            <img src="images/vet.PNG" alt="Vet" style="width: 30%;" />
                            </div>

                            <span id="usdtDesc"></span> <span id="usdt"></span> to <span id="address2"></span>.
                            <br />

                            <span id="ethDesc"></span> <span id="eth"></span> to <span id="address3"></span>.
                            <br />

                            <span id="desc2"></span> <br />
                        </h6>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"
                                    >Transaction ID</span
                                >
                            </div>
                            <input
                                type="text"
                                class="form-control"
                                id="transactionid"
                                autocomplete="on"
                            />
                        </div>
                        <div class="input-group" style="margin-top: 15px">
                            <div class="input-group-prepend">
                                <span class="input-group-text"
                                    >Registered wallet address</span
                                >
                            </div>
                            <input
                                type="text"
                                class="form-control"
                                id="walletaddr"
                                autocomplete="on"
                            />
                        </div>
                        <div class="input-group" style="margin-top: 15px">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Total Cost</span>
                            </div>
                            <input
                                type="text"
                                class="form-control"
                                id="totalcost"
                                disabled
                            />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                        >
                            Close
                        </button>
                        <button
                            type="button"
                            class="btn btn-primary"
                            id="saveChange"
                        >
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="assets/js/jquery-2.2.4.min.js"></script>
        <script src="assets/js/jquery.dataTables.min.js"></script>
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/moment.min.js"></script>
        <script src="/utils.js"></script>
        <script src="assets/js/openseadragon.min.js"></script>
        <script src="assets/js/OpenSeadragonHTMLelements.js"></script>
        <script src="assets/js/openseadragon-html-overlay.js"></script>
        <script src="assets/js/openseadragon-canvas-overlay.js"></script>
        <script
            type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/toastify-js"
        ></script>

        <script>
            var viewer
            var allCoords
            var markedCoords = []
            var _markedCoords = []
            var _myCoordsIndex = []
            var _myCoords = []
            var _mySquareCount = 0
            var Utils
            var overlay

            Utils = function (viewer) {
                var self = this
                self.viewer = viewer
            }

            var today = new Date().toLocaleDateString(undefined, {
                day: "2-digit",
                month: "2-digit",
                year: "numeric",
                hour: "2-digit",
                minute: "2-digit",
                second: "2-digit",
            })
            // Utils.prototype.overlay = function (top, left) {
            //     var self = this

            //     self.overlay = self.viewer.canvasOverlay({
            //         onRedraw: function () {
            //             // console.log({ onRedraw: { left: left, top: top } })
            //             self.overlay.context2d().fillStyle = "blue"
            //             self.overlay.context2d().fillRect(left, top, 23, 23)
            //         },
            //     })
            // }

            jQuery.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "/coords.json",
                dataType: "json",
                success: function (result) {
                    if (result && result.length) {
                        allCoords = result
                    }
                },
                beforeSend: function () {},
                error: function (Result) {
                    alert("Error")
                },
            })

            jQuery(document).ready(function () {
                ;(function () {
                    // console.log('localStorage.getItem("userName") : ', localStorage.getItem("userName"))
                    if (
                        !localStorage.getItem("userName") ||
                        localStorage.getItem("userName") === ""
                    )
                        window.location.href = "/"

                    $("#username").text(localStorage.getItem("userName"))
                    $("#packcost").text(localStorage.getItem("packcost"))
                    $("#desc1").text(localStorage.getItem("desc1"))
                    $("#vetDesc").text(localStorage.getItem("vetDesc"))
                    $("#usdtDesc").text(localStorage.getItem("usdtDesc"))
                    $("#ethDesc").text(localStorage.getItem("ethDesc"))
                    $("#desc2").text(localStorage.getItem("desc2"))
                    $("#address1").text(localStorage.getItem("address1"))
                    $("#address2").text(localStorage.getItem("address2"))
                    $("#address3").text(localStorage.getItem("address3"))

                    $("#saveChange").click(function () {
                        // const ret = hasStringAndNumber($("#transactionid").val()) && $("#walletaddr").val() !== ''
                        const ret = $("#transactionid").val() !== '' && $("#walletaddr").val() !== ''

                        //You can either link directly to a func here
                        if (ret) {
                            console.log(
                                "_markedCoords : ",
                                _markedCoords,
                                _myCoordsIndex,
                                _myCoords
                            )
                            socks.Send({
                                mail: true,
                                userName: localStorage.getItem("userName"),
                                transactionId: $("#transactionid").val(),
                                walletaddr: $("#walletaddr").val(),
                                today: today,
                                coords: _myCoords,
                                indexs: _myCoordsIndex,
                            })
                            $("#finishModal").modal("toggle")
                            Toastify({
                                text: "Success in your transaction.",
                                duration: 5000,
                                newWindow: true,
                                close: true,
                                gravity: "top", // `top` or `bottom`
                                position: "right", // `left`, `center` or `right`
                                backgroundColor:
                                    "#07bc0c",
                                stopOnFocus: true, // Prevents dismissing of toast on hover
                                onClick: function () {}, // Callback after click
                            }).showToast()
                        } else {
                            Toastify({
                                text: "Please input letters and numbers in Transaction ID.",
                                duration: 5000,
                                newWindow: true,
                                close: true,
                                gravity: "top", // `top` or `bottom`
                                position: "right", // `left`, `center` or `right`
                                backgroundColor:
                                    "#e74c3c",
                                stopOnFocus: true, // Prevents dismissing of toast on hover
                                onClick: function () {}, // Callback after click
                            }).showToast()
                        }
                    })

                    var hEl

                    viewer = OpenSeadragon({
                        id: "map",
                        prefixUrl: "/assets/images/",
                        tileSources: [
                            {
                                tileSource: "/tiles/output.dzi",
                                width: 4096,
                            },
                        ],
                        //tileSources: "/tiles/output.dzi",
                        showRotationControl: false,
                        showFlipControl: false,
                        gestureSettingsMouse: {
                            clickToZoom: false,
                        },
                    })

                    overlay = viewer.canvasOverlay({
                        onRedraw: function () {
                            // Other users coords
                            if (markedCoords && markedCoords.length) {
                                for (var x in markedCoords) {
                                    overlay.context2d().fillStyle = "red"
                                    overlay
                                        .context2d()
                                        .fillRect(
                                            markedCoords[x][1],
                                            markedCoords[x][0],
                                            23,
                                            23
                                        )
                                }
                            }

                            // My coords
                            if (_markedCoords && _markedCoords.length) {
                                for (var y in _markedCoords) {
                                    overlay.context2d().fillStyle = "blue"
                                    overlay
                                        .context2d()
                                        .fillRect(
                                            _markedCoords[y][1],
                                            _markedCoords[y][0],
                                            23,
                                            23
                                        )
                                }
                            }
                        },
                    })

                    //jQuery(window).resize(function() {
                    //  overlay.resize();
                    //});

                    viewer.addHandler("canvas-double-click", function (event) {
                        if (_mySquareCount >= 20) {
                            Toastify({
                                text: "A user can only select 20 squares.",
                                duration: 5000,
                                newWindow: true,
                                close: true,
                                gravity: "top", // `top` or `bottom`
                                position: "right", // `left`, `center` or `right`
                                backgroundColor:
                                    "#e74c3c",
                                stopOnFocus: true, // Prevents dismissing of toast on hover
                                onClick: function () {}, // Callback after click
                            }).showToast()
                            return
                        }

                        var viewportPoint = viewer.viewport.pointFromPixel(
                            event.position
                        )

                        // console.log({click: event, viewportPoint:viewportPoint, top:viewportPoint.y, left:viewportPoint.x});
                        if (allCoords && allCoords.length) {
                            var top = viewportPoint.y
                            var left = viewportPoint.x

                            for (var x = 0; x < allCoords.length; x++) {
                                if (
                                    top >= allCoords[x][0] &&
                                    top <= allCoords[x][2] &&
                                    left >= allCoords[x][1] &&
                                    left <= allCoords[x][3]
                                ) {
                                    // markedCoords[x] = allCoords[x]
                                    // overlay.resize();
                                    // viewer.forceRedraw()

                                    if (socks) {
                                        socks.Send({
                                            id: socks.uuid4(),
                                            index: x,
                                            coords: allCoords[x],
                                        })
                                    }

                                    //var o = new Utils(viewer);

                                    //o.overlay(allCoords[x][0],allCoords[x][1]);
                                }
                            }
                        }
                    })
                })()
            })

            function hasStringAndNumber(myString) {
                return /^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)$/.test(
                    myString
                )
            }
        </script>
    </body>
</html>
